#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

#rocket {
    position: relative;
    left: 0px;
    top: 150px;
}

/* // left: max = 200 //center= 0 */
//bottom: max = 270px  top: max = 

/* <img src="LaunchCode_rocketline_white.png"height="85"width="75"id="rocket"> */